* {
  box-sizing: border-box;
}

.body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.header {
  background-color: #fff;
  height: 180px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.container__header {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 23px 0 41px;
  margin-bottom: 38px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.header__logo:hover {
  transform: scale(1.02);
}

.logo__text {
  width: 120px;
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  padding-left: 10px;
}

.logo__img {
  height: 60px;
  border: 1px solid pink;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__search {
  width: 468px;
  height: 50px;
  display: flex;
  border: 2px solid #f5f5f5;
  border-radius: 4px;
}

.header__search-input-wrapper {
  width: 220px;
  display: flex;
  align-items: center;
  border-right: 2px solid #f5f5f5;
}

.header__search-input {
  width: 100%;
  height: 48px;
  padding: 0 15px;
  color: #505050;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.14;
  border: none;
}

.header__search-input::placeholder {
  color: #b3b3b3;
}

.header__search-dropdown {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #f5f5f5;
}

.header__search-button-wrapper {
  flex-grow: 1;
}

.header__search-button {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__search-button button {
  cursor: pointer;
}

.header__links {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  border-top: 2px solid #f5f5f5;
}

.header-select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header-select__title {
  position: relative;
  width: 150px;
  color: #b3b3b3;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-select__title::after {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  background-image: url("./../images/icon/arrow-down-icon.svg");
}

.header-select__dropdown {
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.header-select__dropdown-item {
  height: 46px;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  transition: 0.3s;
}

.header-select__dropdown-item:not(last-child) {
  border-bottom: 2px solid #f5f5f5;
}

.header-select__dropdown-item:hover {
  background-color: #c2c2c2;
  color: #fff;
  transform: scale(1.02);
}

.header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #808080;
}

.header-link:not(:last-child) {
  margin-right: 32px;
}

.header-link .icon-svg, .header-link .icon-hearth-svg {
  fill: grey;
}

.header-link:hover {
  color: #1875f0;
}

.header-link:hover .icon-svg {
  fill: #1875f0;
}

.header-link:hover .icon-hearth-svg {
  fill: #e70707;
}

.header-link__icon {
  margin-right: 18px;
  position: relative;
}

.header-link-point .header-link__icon::after {
  position: absolute;
  top: -14px;
  right: -2px;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #1875f0;
  border-radius: 3px;
}

.header-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
