.header {
  background-color: #fff;
  height: 180px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}
.container__header {
   max-width:1100px;
   display:flex;
   justify-content:space-between;
   align-items: center;
   margin: 0 auto;
   padding: 30px 23px 0 41px ;
}
.header__logo {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration:none;
   transition: 0.5s;
   cursor: pointer ;
}
.header__logo:hover {
   transform: scale(1.02);
}
.logo__text {
width:120px;
color: #4d4d4d;
font-size: 22px;
font-weight: 900;
text-transform: capitalize;
letter-spacing: 1.5px;
padding-left: 10px;
}
.logo__img {
   height:60px;
   border:1px solid pink;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header__search {
   width: 468px;
   height: 50px;
   display: flex;
   border: 2px solid #f5f5f5;
   border-radius: 4px;
}
.header__search-input-wrapper {
   width: 220px;
   display: flex;
   align-items: center;
   border-right: 2px solid #f5f5f5;
}
.header__search-input {
   width: 100%;
   height: 48px;
   padding: 0 15px;
   color: #000;
   font-family: Roboto;
   font-size: 16px;
   font-weight: 500;
   line-height: 2.14;
   border:none;

   &::placeholder {
      color: #b3b3b3;
   }
}
.header__search-dropdown {
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-right: 2px solid #f5f5f5;
}
.header__search-button-wrapper {
   flex-grow: 1;
}
.header__search-button{
   background-color: transparent;
   border: none;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content:center;
   align-items: center;
   cursor: pointer;
}
.header__search-button > button {
   cursor:pointer;
}
.header__button {
   width:300px;
   height:50px;
   background-color:pink;
}
